{% extends "base.html" %}

{% block content %}

<h2>Students List</h2>

<form method="GET" class="search-form">

    <input
        type="text"
        name="search"
        placeholder="Search Student Name"
        value="{{ search_query if search_query else '' }}">

    <button type="submit">Search</button>

    <select name="sort">

    <option value="">Sort By</option>

    <option value="name">Name (A-Z)</option>

    <option value="marks">Marks (High-Low)</option>

    <option value="attendance">Attendance (High-Low)</option>

</select>

    <a href="/students" class="show-all-btn">
        Show All Students
    </a>
<div class="export-section">

    <a href="/export-csv" class="export-btn">
        Export CSV
    </a>

    <a href="/export-excel" class="excel-btn">
        Export Excel
    </a>

    <a href="/export-pdf" class="pdf-btn">
        Export PDF
    </a>
<p class="result-count">
    Total Results: {{ total_students }}
</p>

</div>


<br>

<table border="1">

    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Department</th>
    <th>Marks</th>
    <th>Attendance</th>
    <th>Action</th>
    </tr>

    {% for student in students %}

    <tr>
        <td>{{ student[0] }}</td>
        <td>{{ student[1] }}</td>
        <td>{{ student[3] }}</td>
        <td>{{ student[5] }}</td>
        <td>{{ student[6] }}</td>
    <td>

    <a href="/student/{{ student[0] }}"
        class="view-btn">
        View
    </a>

    <a href="/edit-student/{{ student[0] }}"
       class="edit-btn">
       Edit
    </a>

    <a href="/delete-student/{{ student[0] }}"
       class="delete-btn">
       Delete
    </a>
</td>
    </tr>
    

    {% endfor %}

</table>

<div class="pagination">

    {% if page > 1 %}

    <a href="/students?page={{ page - 1 }}"
       class="page-btn">
       Previous
    </a>

    {% endif %}

    {% if page < total_pages %}

<a href="/students?page={{ page + 1 }}"
   class="page-btn">
   Next
</a>

{% endif %}

</div>

{% endblock %}