{% extends "base.html" %}

{% block content %}

<h2>Students List</h2>

<table border="1">

    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Department</th>
    <th>Marks</th>
    <th>Attendance</th>
    <th>Action</th>
    </tr>

    {% for student in students %}

    <tr>
        <td>{{ student[0] }}</td>
        <td>{{ student[1] }}</td>
        <td>{{ student[3] }}</td>
        <td>{{ student[5] }}</td>
        <td>{{ student[6] }}</td>
    <td>
    <a href="/edit-student/{{ student[0] }}">
        Edit
    </a>

    |

    <a href="/delete-student/{{ student[0] }}">
        Delete
    </a>
    </td>
    </tr>
    

    {% endfor %}

</table>

{% endblock %}